.contact .fa-sort-down,
.contact .fa-sort-up {
  position: relative;
}

.contact .fa-sort-down {
  top: -3px;
}

.contact .fa-sort-up {
  top: 6px;
}

.contact .icon-delete,
.contact .icon-edit {
  float: right;
}

.contact .icon-edit {
  color: black;
  margin-right: 1rem;
}
